<div *ngIf="!isLogin" class="card">
    <div class="sign-up">
        <form class="common-form" #sellerSignUp="ngForm" (ngSubmit)="signupSellar(sellerSignUp.value)">
            <h1 style="margin-left: 20px;">sign-up Here</h1>
            <input class="inp" ngModel name="name" type="text" placeholder="Enter your name here">
            <input class="inp" ngModel name="password" type="password" placeholder="Enter your password here">
            <input class="inp" ngModel name="email" type="email" placeholder="Enter your email here">
            <button>Sign Up</button><br>
            <a class="openSignUp" (click)="openLogin()">already have Account Click to signIn</a>
        </form>
    </div>

</div>

<div *ngIf="isLogin" class="sign-In">
    <form class="common-form" #sellerSignIn="ngForm" (ngSubmit)="signInSellar(sellerSignIn.value)">
        <h1 style="margin-left: 20px;">sign-In Here</h1>
        <p style="color: red; margin-left: 10px;">{{iserror}}</p>
        <input class="inp" ngModel name="email" type="email" placeholder="Enter your email here">
        <input class="inp" ngModel name="password" type="password" placeholder="Enter your password here">
        <button>LogIn</button><br>
        <a class="openSignUp" (click)="openSignUp()">already have Account Click to signIn</a>
    </form>
</div>